* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #1e1e1e;
}

.top-bar {
  background-color: #1e1e1e;
  height: 10px;
}

header {
  background-color: #dcdcdc;
  padding: 15px;
  text-align: left;
}

header h1 {
  margin: 0px auto 0 195px;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
}

#sub-title {
  margin: 0 0 0 200px;
  font-size: 25px;
  color: #1e1e1e;
  padding-top: 0px;
}

.nav-bar {
  display: flex;
  gap: 20px;
  padding: 5px;
  background-color: #1e1e1e;
  overflow: visible;
  flex-wrap: wrap;
  justify-content: center;
  position: center;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #dfdfdf;
}

.nav-bar a {
  color: #dfdfdf;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;
  border: 1px solid #dfdfdf;
  padding: 1px 8px;
  border-radius: 5px;
}

.nav-bar a:hover {
  background-color: #3ead00;
}

.whatsapp-item {
  display: flex;
  align-items: center;
  color: #dfdfdf;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border: 1px solid #dfdfdf;
  padding: 1px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.whatsapp-item:hover {
  background-color: #3ead00;

}

#decoration {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e1e1e;
  z-index: 9999;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  width: 150px;
  padding: 10px;
  color: #dfdfdf;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #3ead00;
  /* Efeito de hover no submenu */
}

.content {
  transition: margin-top 0.5s ease-in-out;
}

.contact-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #dfdfdf;
  padding: 14px 20px;
}

.contact-info a {
  margin-left: 10px;
  text-decoration: none;
}

.about {
  text-align: center;
  background-color: #1e1e1e;
  padding: 40px;
}

.logo-container img {
  max-width: 400px;
  height: auto;
}

h2 {
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 30px;
  color: #dcdcdc;
}

#sobre {
  padding: 0 100px;
  text-align: center;
  font-size: 1.5vw;
  color: #98b5a8;
}

.main-container {
  background-size: cover;
}

.services,
.contact-us {
  padding: 50px;
  color: #dfdfdf;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../img/imagem para o site atualizada.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
}

.services {
  padding: 50px 0;
}

.services h2 {
  text-align: center;
  font-size: 40px;
  color: #dfdfdf;
  margin-bottom: 0px;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services li {
  font-size: 25px;
  margin: 10px 0;
  padding: 5px;
}

.services li strong {
  display: block;
  margin: 0 150px;
  padding: 40px;
  font-size: 35px;
  color: #3ead00;
}

.services li p {
  margin: 0px 100px;
  padding-left: 20px;
  font-size: 20px;
}

.services li p::marker {
  content: '';
}

.services li ul {
  list-style-type: disc;
  padding-left: 200px;
}

.contact-us {
  padding: 50px;
  background-size: cover;
  color: #dfdfdf;
  text-align: center;
}

.contact-us h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-us p,
.contact-us ul {
  font-size: 30px;
  margin: 10px 0;
}

.contact-us #description {
  padding-top: 20px;
  border-top: 2px solid #dfdfdf;
  margin: 0px;
}

.contact-us a {
  margin: 0 10px;
  text-decoration: none;
  color: #3ead00;
}

.contact-us a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1e1e1e;
  color: #dfdfdf;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer p {
  margin: 0;
}

/* RESPONSIVE */

@media (min-width: 1024px) {
  .nav-bar {
    gap: 100px;
    padding: 10px;
    border-bottom: 2px solid #dfdfdf;
  }

  #sobre {
    padding: 0 30px;
    font-size: 1.5vw;
  }

  h2 {
    margin-top: 0px;
  }

  .services ul {
    margin: 30px;
  }

  .services li p {
    margin: 0px 50px;
    padding: 10px;
    text-align: center;
  }

  .services li ul {
    padding-left: 150px;
  }

  .contact-us h2 {
    font-size: 24px;
  }

  .contact-us {
    padding: 0px 30px 20px;
  }

  .contact-us #description {
    font-size: 25px;
    text-align: center;
    padding: 30px;
  }

  .contact-us p,
  .contact-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    margin: 5px 30px auto;
    flex-direction: row;
    width: 100%;
  }

  .contact-list li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 40px;
    margin: 0 auto;
  }

  #sub-title {
    font-size: 25px;
    margin: 0 auto;
  }

  .nav-bar {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    text-align: center;
    padding: 8px;
  }

  .nav-bar a {
    padding: 5px;
    border: 1px solid #dfdfdf;
  }

  .whatsapp-item {
    color: #dfdfdf;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
  }

  .whatsapp-item a {
    padding: 0px;
  }


  h2 {
    font-size: 25px;
  }

  #sobre {
    font-size: 16px;
    padding: 10px;
  }

  .services h2 {
    font-size: 30px;
  }

  .services li strong {
    font-size: 25px;
  }

  .services li ul {
    padding: 0px 150px;
  }

  .services li p {
    font-size: 18px;
    margin: 0px 30px;
    text-align: center;
  }

  .contact-us {
    padding: 0px 30px 20px;
  }

  .contact-us #description {
    font-size: 24px;
    margin: 20px;

  }

  .contact-us h2 {
    font-size: 30px;
  }

  .contact-us #description {
    margin: 0px;
    font-size: 20px;
    padding: 30px;
    text-align: center;
  }

  .contact-us p,
  .contact-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    margin: 5px 30px auto;
    flex-direction: row;
    width: 100%;
  }

  .contact-list li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .contact-us #description {
    display: block;
    max-width: 100%;
    padding: 30px;
    margin: 30px;
    text-align: center;
  }
}


@media (max-width: 425px) {
  header h1 {
    font-size: 35px;
    margin: 0 auto;
  }

  #sub-title {
    font-size: 14px;
    margin: 0 auto;
  }

  .nav-bar {
    gap: 7px;
    font-size: 11px;
    padding: 8px;
  }

  .nav-bar a {
    padding: 1px 5px;
    border: 1px solid #dfdfdf;
  }

  .whatsapp-item {
    color: #dfdfdf;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1px 5px;
  }

  .about {
    padding: 10px;
  }

  .logo-container img {
    max-width: 200px;
  }

  h2 {
    font-size: 16px;
    margin-top: 0;
  }

  #sobre {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
  }

  .services {
    padding: 30px;
  }

  .services h2 {
    font-size: 24px;
  }

  .services li strong {
    font-size: 24px;
    margin: 0;
    padding: 20px 0px;
    text-align: left;
  }

  .services li p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .services li ul {
    padding: 30px;
    margin: 0;
  }

  .services li {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  .contact-us #description {
    margin: 0;
    padding: 10px;
    font-size: 14px;

  }

  .contact-us,
  .contact-us ul {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;

  }

  footer p {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  header h1 {
    font-size: 24px;
    margin: 0 auto;
  }

  #sub-title {
    font-size: 12px;
    margin: 0 auto;
  }

  .nav-bar {
    gap: 7px;
    font-size: 9px;
    padding: 8px;
  }

  .about {
    padding: 10px;
  }

  .logo-container img {
    max-width: 150px;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  #sobre {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }

  .services {
    padding: 30px;
  }

  .services h2 {
    font-size: 18px;
  }

  .services li strong {
    font-size: 16px;
    margin: 0;
    padding: 20px 0px;
    text-align: left;
  }

  .services li p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .services li ul {
    padding: 30px;
    margin: 0;
  }

  .services li {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  .contact-us #description {
    margin: 0;
    padding: 10px;
    font-size: 12px;

  }

  .contact-us,
  .contact-us ul {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    text-align: center;

  }

  footer p {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 20px;
    margin: 0 auto;
  }

  #sub-title {
    font-size: 10px;
    margin: 0 auto;
  }

  .nav-bar {
    gap: 3px;
    font-size: 8px;
    padding: 8px;
  }


  .logo-container img {
    max-width: 100px;
  }

  h2 {
    font-size: 12px;
  }

  #sobre {
    font-size: 10px;
  }

  .services {
    padding: 30px;
  }

  .services h2 {
    font-size: 18px;
  }

  .services li strong {
    font-size: 16px;
    margin: 0;
    padding: 20px 0px;
    text-align: left;
  }

  .services li p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
  }


  .services li {
    font-size: 14px;
  }

  .contact-us #description {
    margin: 0;
    padding: 10px;
    font-size: 14px;


  }

  .contact-us,
  .contact-us ul {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    text-align: center;

  }

}